.pu-project-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  padding: 2rem;
}
.pu-project-modal {
  background-color: white;
  border-radius: 12px;
  width: 60%;
  max-width: 800px;
  max-height: 90vh;
  overflow-y: auto;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  animation: modalSlideIn 0.3s ease-out;
}

.pu-project-modal-content {
  padding: 2rem;
  overflow-y: auto;
  flex: 1;
}
.pu-project-form-container {
  display: flex;
  gap: 2rem;
  padding: 2rem;
  max-width: 1600px;
  margin: 0 auto;
}
.pu-pdc-detail-section-one {
  flex: 1;
}
.pu-pdc-detail-section-two {
  flex: 2;
}
/* Portfolio Image */
.pdc-portfolio-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}
.pdc-camera-upload {
  width: 100%;
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  align-items: center;
}
.camera-icon {
  background: white;
  border-radius: 50%;
  padding: 8px;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.pdc-upload {
  cursor: pointer;
}
.pjd-upload-button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem 1.5rem;
  background-color: black;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}
