.popular-services {
  /* width: 90%;
  margin: auto; */
}

.services-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.sectionButton {
  display: flex;
  justify-content: flex-end;
  padding: 0px 15px;
}
