.f-chat-box {
  height: 100%;
  overflow-y: hidden;
  flex: 3;
  border-radius: 15px;
  border: 2px solid #0000000d;
  display: flex;
  flex-direction: column;
}

.f-chat-box img {
  width: 70px;
}

.f-messages-container {
  flex: 4;
}
.f-messages-container {
  height: calc(500px - 70px);
}
.f-messages-wrapper {
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
}
.f-chat-header-user {
  display: flex;
  align-items: center;
}
.f-chat-header-info h2 {
  font-size: 24px;
  font-weight: 600px;
}
.chat-input-container {
  align-self: flex-end;
}
/* @media (min-width: 1441px) {
  .f-chat-box {
    height: 800px;
  }
} */
