.register-container {
  display: flex;
  background-color: #f8f9fa;
}

.form-section {
  display: flex;
  flex: 55% !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-left: 25px;
}
  
  
.headertext {
  font-weight: 700;
  border-left: 6px solid #B90909;
  font-size: 35px;
  line-height: 68px;
  margin: 0;
  padding-left: 10px; 
  text-align: left; 
  justify-content: left;
  margin-left: 10%;
  width: 100%;
}

@media (max-width: 490px) {
  .headertext {
    font-size: 25px;
    line-height: 50px;
  }
}
.loading-button {
  width: 90% !important;
  height: 6%;
  margin-left: 25px;
  
}

.auth-form {
  width: 90% !important;
  
  border: none !important;
  background: none !important;
  margin-left: 25px;
}

.google-sign-in-btn {
  border: 1px solid #4e3629 !important;
  border-radius: 8px !important;
  width: 90% !important;
  margin-top: 15px;
  height: 6%;
 
  justify-content: center;
  margin-left: 25px;
}

.login-register-button {
 
  margin-top: 10%;
  margin-left: 80% !important;
  position: relative !important;

}

.image-section {
  padding: 0 !important;
  margin: 0 !important;
  width: 100%;
}

.image-m {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  margin-right: 0 !important;
  padding-right: 0 !important;
  display: flex;
  flex: 45% !important;
}

@media (max-width: 770px) {
  .image-m {
    display: none !important;
  }
}

