.tss-title {
  font-size: 24px;
  font-weight: 500;
  color: #0000004d;
  padding: 25px 0px;
}
.tss-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.deposit-btn {
  outline: none;
  border: none;
  border-radius: 12px;
  padding: 10px;
  font-size: 15px;
  font-weight: 600;
  color: white;
  background-color: black;
  width: 141px;
  height: 57px;
}
