@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.custom-button {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  width: auto;
  padding: 1.2rem 1.5rem;
  background-color: #3d3d3d;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.2s;
  white-space: nowrap;
  font-size: 0.9rem;
 
}

.custom-button:hover {
  background-color: #000000;
} 