@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.wellcome-user{
    font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 34px;
  color:#00000080;
}

.sms-btn{
    border-radius: 29px;
}