.MadeOnRI {
  width: 90%;
  margin: 15px auto;
}

.sectionBody {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  min-height: 550px;
  flex-wrap: wrap;
}
.sectionButton {
  display: flex;
  justify-content: flex-end;
  padding: 0px 15px;
}
