*{
    align-items: center;
    margin: auto;
}

h6{
    font-family: 'Poppins';
    font-weight: 500 !important;
    font-size: 30px;
    line-height: 50px;
    color: #4d4d4d;
}

.red-line{
    width: 3%;
    border: none;
    height: 35px;
    background-color: #b90909;
    transform: rotate(90deg);
    position: relative;
    right: 18%;
}

.get-started-box{
    display: flex;
    position: relative;
    right: 39%;
    margin-top: 15px;
}

h1{
    text-align: center;
    font-family: 'Poppins';
    font-size: 36px;
}

.ri-experts{
    color:#b90909;
    font-size: 36px;
    font-weight: 600;
    line-height: 54px;
    width: 569px;
    
}

.how, .works{
    color: #808080;
    font-size: 36px;
    font-weight: 600;
    line-height: 54px;
    width: 569px;
}

.second-heading{
    text-align: center;
    color: #808080;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}

p{
    text-align: center;
    color: #808080;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

}

.cards{
    border: solid 0.1px;
    color: #C0C0C0;
    border-radius: 21.5px;
    padding: 7px; /* Reduce padding */
    margin-bottom: 5px;
}

.cards hr {
    margin: 5px 0; /* Reduce space around the hr */
}

.cards p {
    margin: 5px 0; 
}
.img-card{
    border: solid 0.1px;
    color: #C0C0C0;
    border-radius: 21.5px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.cards img {
    display: block; 
    margin: 0 auto;
}


.cards-containers{
    margin-top: 25px;
    padding: 50px;
}


@media(max-width: 500px){
    img{
        width:200px;
    }
    .cards{
        margin-bottom: 15px;
    }

    .get-started-box{
        position: relative;
        right:27%;
    }
    .second-heading{
        font-size: 17px;
    }
    h1{
        font-size: 30px;
    }
}
