.ProfileSubNav {
  display: flex;
  justify-content: flex-start;
  height: 46px;
}

/* .navbar a:hover, .subnav:hover .subnavbtn {
    background-color: red;
  } */

.p-subnav-content {
  /* width: 90%; */
  display: flex;
  /* margin: 0px auto; */
  /* gap: 25px; */
}

.p-subnav-content .p-subnav-link {
  float: left;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 0px 20px;
}

.p-subnav-content .p-subnav-link:hover {
  background-color: #333333;
  color: white;
  cursor: pointer;
}
.dashboard-icon {
  height: 24px;
  width: 24px;
}
.message-icon {
  height: 24px;
  width: 24px;
}
.order-icon {
  height: 24px;
  width: 24px;
}
.money-icon {
  height: 24px;
  width: 24px;
}
/* .subnav:hover .subnav-content {
  } */
