.transaction-details {
  width: 100%;
  min-height: 70px;
  padding: 20px;
  font-family: "Poppins";
  border: 2px solid #0000000d;
  border-radius: 12px;
}

.td-message {
  font-weight: 300;
  font-size: 16px;
  color: #00000080;
}
.td-ref {
  font-weight: 400;
  color: #00000080;
}

.td-date-delete {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0px;
}

.td-date {
  font-weight: 300;
  font-size: 16px;
  color: #0000004d;
}

.td-btn {
  min-width: 114px;
  width:fit-content;
  height: 49px;
  background-color: #000000;
  color: white;
  padding: 10px;
  border-radius: 12px;
  border: none;
  outline: none;
}
.disabled {
  opacity: 0.5;
}
.row-flex {
  display: flex;
  justify-content: space-between;
  margin: 8px 0;
}
.dropdown-content {
  width: calc(100% - 40px);
  min-height: 141px;
  /* height: 200px; */
  padding: 20px;
  font-family: "Poppins";
  border: 2px solid #0000000d;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border-top: none;
  margin: auto;
}