.container{
    display:flex;
    justify-content: space-between;
}


li{
    list-style: none;
}


.list-items{
    display: flex;
    margin-left: 15px;
    position: relative;
    left: 40%;
}


.nav-item{
    display: inline-block;
    margin-right: 10px;
    /* width: 151px; */
    width: 135px;
    height: 39px;
    text-align: center;
    border-radius: 12px;
    padding: 10px;
    gap: 10px;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    font-family: "Poppins";


}


.nav-item:hover{
    background-color: #000000;
    color: #ffffff;
    /* width: 151px; */
    width: 135px;
    height: 39px;
    text-align: center;
}


.left-container{
    margin-top: 18px;
    position: relative;
    right: 4%;
}


.placeholder{
    background-color: #ffffff;
}
