.SectionHeader {
  padding: 1rem;
}
.text {
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -2.2%;
}
.line {
  height: 3px;
  width: 50px;
  background-color: #b90909;
}
