.discovery-page {
  min-height: 100vh;
}

.navigation-container {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #fff;
}

.content-container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  align-items: center;
}

.search-container {
  width: 66.7%;
  padding-left: 4.8rem;
  margin-top: 2rem;
  margin-bottom: -2rem;
  display: flex;
  justify-content: flex-start;
  align-self: flex-start;
}

.freelancer-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -1rem;
}



/* Add responsive breakpoints */
@media (max-width: 1200px) {
  .grid-container {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (max-width: 900px) {
  .grid-container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 600px) {
  .grid-container {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
} 