.error-text {
  color: #d32f2f;
  padding-top: 12px;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 0;
  border-radius: 0;
  background: none;
  box-shadow: none;
  width: fit-content;
}
.reset-container {
  display: flex;
  height: 100vh;
  background: #fff;
  position: relative;
}

/* Register Button */

.register-btn {
  position: absolute;
  top: 20px;
  border: 1px solid #c76c69;
  /* Add a border */
  right: 30px;
  background: black;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  /* Slightly rounded corners */
  cursor: pointer;
  display: flex;
  font-family: "Helvetica", "Arial", sans-serif;
  font-weight: bold;
  align-items: center;
  gap: 10px;
  transition: all 0.3s ease-in-out;
}

/* Arrow Icon Style */

.register-arrow {
  font-size: 1.2rem;
  margin-left: 3px;
}

.reset-left {
  margin-top: 20px;
  flex: 1;
  background: #fff;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* Align content to the top */
  position: relative;
}

/* Adjust the Reset Form Position */

.reset-form {
  margin-top: 45px;
  /* Adjust this value as needed */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Red vertical line */

.reset-title {
  font-size: 35px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.red-line {
  width: 7px;
  height: 80px;
  background: red;
  margin-right: 10px;
}

/**/

.input-group {
  margin-left: 20px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.input-group label {
  font-size: 14px;
  font-weight: bold;
}

.input-group input {
  /* Reduced width */
  width: 85%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: -10px;
  border: 0px solid #ddd;
  border-radius: 5px;
  background: #f7f7f7;
}

/* Adjusting Reset Button */

.loading-button {
  width: 85% !important;
  height: 30%;
  margin-top: 40px;
  margin-left: 20px;
}

.reset-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reset-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .reset-right {
    display: none;
  }
}