.subnav {
    float: left;
    overflow: hidden;
    justify-content: center;
}

.subnavbtn {
    background-color: black;
    color: white;
}

.subnav .subnavbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    /* background-color: inherit; */
    font-family: inherit;
    margin: 0;
}


/* .navbar a:hover, .subnav:hover .subnavbtn {
    background-color: red;
  } */

a {
    float: left;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    justify-content: center;
}

.subnav-content {
    /* display: none; */
    position: absolute;
    background-color: black;
    width: 100%;
    height: 46px;
    z-index: 1;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    justify-content: space-evenly;
}

.subnav-content a {
    float: left;
    color: white;
    text-decoration: none;
}

.subnav-content a:hover {
    background-color: #eee;
    color: black;
}


/* .subnav:hover .subnav-content {
  } */