.role-switch-button {
  background-color: #333 !important;
  color: white !important;
  border: none !important;
  padding: 8px 16px !important;
  border-radius: 5px !important;
  cursor: pointer;
  margin-right: 10px;
  font-size: 16px;
}

.role-switch-button:hover {
  background-color: black !important;
} 