.custom-checkbox input[type="checkbox"] {
    appearance: none; /* Remove default checkbox */
    width: 18px;
    height: 18px;
    border: 1px solid gray;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
  }
  
  .custom-checkbox input[type="checkbox"]:checked {
    background-color: black;

  }
  
  .custom-checkbox input[type="checkbox"]:checked::after {

    position: absolute;
    top: -2px;
    left: 4px;
    font-size: 14px;
    color: white;
  }
  