.client-login-container {
  display: flex;
  height: 100vh;
  background: #fff;
  position: relative;
  width: 100% !important;
}

.client-login-left {
  flex: 55%;
  
  width: 55% !important;
  background: #fff;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center !important;
  height: auto;
  overflow: hidden;
}

.client-login-right {
  flex: 45%;
  
  width: 45% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  padding: 1px;
}

.client-login-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  padding: 1px;
}

.client-login-btn {
  position: absolute;
  top: 20px;
  right: 30px;
  background: black;
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  display: flex;
  font-family: "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  align-items: center;
  gap: 10px;
  transition: all 0.3s ease-in-out;
}

.client-login-arrow {
  font-size: 1.2rem;
  margin-left: 3px;
}

.client-login-form {
  margin-top: -100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100% !important;
}

.client-login-title {
  font-size: 35px;
  font-weight: 700;
  display: flex;
  align-items: flex-start;
  width: 80%;
  margin-left: -50px;
}

.client-red-line {
  width: 8px;
  height: 100px;
  background: #b90909;
  margin-right: 20px;
}

.client-input-group {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.client-input-group label {
  font-size: 14px;
  font-weight: bold;
}

.client-input-group input {
  width: 100% !important;
  padding: 15px !important;
  margin-top: 8px;
  border: none;
  border-radius: 5px;
  background: #f7f7f7;
}

.client-login-left .loading-button {
  height: 50px;
  margin-top: 8px !important;
  width: 80% !important;
  border-radius: 15px;
}

.error-message {
  font-size: 11px;
  color: red;
  text-align: center;
  width: 100%;
  margin-top: 2px;
  font-weight: 500;
}

.success-message {
  color: #28a745;
  font-size: 10px;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
}

/* Responsive */
@media screen and (max-width: 768px) {
  .client-login-right {
    display: none;
    flex: 0;
  }
  .client-login-left {
    flex: 100%;
    width: 100% !important;
  }
}

@media screen and (max-width: 425px) {
  .auth-form {
    width: 95% !important;
  }
  .client-login-title {
    font-size: 25px;
    align-items: center;
  }
}
