/* Form Container */
.auth-form {
  width: 80% !important; 
  border: none !important;
  background: none !important;
}

/* Labels */
.form-label {
  transition: all 0.3s ease;
  font-weight: 500 !important;
  font-family: 'Poppins', sans-serif !important;
  letter-spacing: -0.02em !important;
}

/* Input Fields */
.form-control-grey {
  border: 2px solid #069bd6;
  border-radius: 5px !important;
  
  background-color: rgba(211, 211, 211, 0.486) !important;
  transition: border 0.3s ease-in-out;
  
}

/* Focus Style */
.form-control-grey:focus {
  border: 2px solid #069bd6 !important;
  box-shadow: none !important;
}

/* Password Input with Eye Icon */
.input-group-wrapper {
  position: relative;
  width: 100%;
}

.input-group-wrapper .btn-eye {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

/* Job Interest Options */
.job-interest-options {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.job-interest-option {
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(211, 211, 211, 0.486);
  cursor: pointer;
  transition: all 0.2s ease;
  border: 2px solid transparent;
}

.job-interest-option:hover,
.job-interest-option.selected {
  border-color: #069bd6;
}
